  body {
    height: 100%;  
  }

  .circle {
    height: 150px;
    width: 150px;
    background-color: #FFA5A5;
    border-radius: 50%;
    top: 15%;
    left: 20%;
    position:absolute;
    z-index:0;
  }

  .broccoli {
    position:absolute;
    width: 150px;
    height: 150px;
    z-index: 1;
    bottom: 5;
    right: 0;
  }

  .topfield {
    position:relative;
    left: 5%;
    top: 50px;
  }

  .divider {
    position: absolute;
    left: 15%;
    top: 42%;
  }

  .save {
      position: absolute;
      left: 80%;
      top: 42%;
  }

  .line {
      position: relative;
      top: 180px;
      width: 1000px;
  }

  .bottomfield {
    position: relative;
    left: -10%;
    top: 220px;
  }

  .text {
    margin-right:50px;
    font-size: 20px;
  }

  footer {
    width: 100vw;
    height: 50px;
    background-color: #C7E5B9;
    
  }
  .sticky {
    position: fixed; 
    bottom: 0px;
  }