nav {
    display: 'flex';
    direction: vertical;
    justify-content: 'flex-start';
    /* background-color: red; */
    font-size: 42;
    width: 50px;
    height: 100vh;
    position: absolute;
    left: 0px;
}

li {
    list-style: none;
}